#sliderContainer {
	width:600px;
	height:480px;
	overflow:hidden;
	margin-left:200px;
	margin-bottom:35px; /*fix if the navigation is enabled*/
}

#JSlider {
	padding:0;
	margin: 0;
	height:100%;
	width:100%;
	display:block;
	z-index:1;
}

#JSlider div {
}

#JSliderNavigation {
	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
	display:block;
}

#JSliderNavigation .navItem{
	margin-right:10px;
	cursor: pointer;
}

#JSliderNavigation .current {
	font-weight: bold;
	color:red;
}

.JSoverlayPrev, .JSoverlayNext {
	position:absolute;
	font-size:80px;
	color:#000000;
}

#JSarrowRight, #JSarrowLeft {
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0;
}